*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fb;
}

.faq-section{
    max-width:900px;
    margin:60px auto;
    padding:20px;
}

.faq-header{
    text-align:center;
    margin-bottom:40px;
}

.home{
    width: 45px;
    height: 25px;
    padding: 2px;
    background: #10B981;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 1rem;

}

.faq-header h1{
    font-size:40px;
    color:#0f172a;
    margin-bottom:10px;
}

.faq-header p{
    color:#666;
    font-size:18px;
}

.faq-item{
    background:#fff;
    border-radius:10px;
    margin-bottom:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    overflow:hidden;
}

.faq-question{
    width:100%;
    padding:20px;
    border:none;
       background: #10B981;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    color:white;
}

.faq-question span{
    font-size:28px;
    transition:.3s;
}

.faq-answer{
    max-height:0;
    overflow:hidden;
    transition:max-height .4s ease;
}

.faq-answer p{
    padding:0 20px 20px;
    line-height:1.7;
    color:#555;
}

.faq-item.active .faq-answer{
    max-height:250px;
}

.faq-item.active span{
    transform:rotate(45deg);
}

@media(max-width:768px){

.faq-header h1{
    font-size:30px;
}

.faq-question{
    font-size:16px;
}

}




